<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depram Acil</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-4">
        <h1 class="text-center mb-4">Deprem Tweet Analiz</h1>

        <!-- Sekmeler (Tabs) -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Deprem Yoğunluk</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Konum Harita</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tweets</a>
            </li>
        </ul>

        <div class="tab-content mt-4" id="myTabContent">
            <!-- Ana Sayfa Sekmesi -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h4>Isı Haritası</h4>
                <iframe src="{{ url_for('static', filename='heatmap.html') }}" width="100%" height="500px" frameborder="0"></iframe>
                 <h1 style="text-align: center;">Tweets</h1>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tweet Date</th>
                                <th>Username</th>
                                <th>Content</th>
                                <th>Cleaned Content</th>
                                <th>City</th>
                                <th>Final Label</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data_heatmap %}
                            <tr>
                                <td>{{ row.tweet_date }}</td>
                                <td>{{ row.username }}</td>
                                <td>{{ row.content }}</td>
                                <td>{{ row.content_no_rare_words }}</td>
                                <td>{{ row.city }}</td>
                                <td>{{ row.final_label }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h4>Konum Haritası</h4>
                <div class="row">
                    <div class="col-md-10">
                        <iframe src="{{ url_for('static', filename='address_map_new.html') }}" width="100%" height="500px" frameborder="0"></iframe>
                    </div>
                    
                     <div class="col-md-2">
                        <h5>Bilgi</h5>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <div style="width: 40px; height: 40px; background-color: red; display: inline-block;"></div> 
                                <i class="fas fa-exclamation-circle" style="color: red;"></i> 
                                <p><strong>Çok Acil</strong></p>
                            </div>
                            <div class="col-6 mb-3">
                                <div style="width: 40px; height: 40px; background-color: #40E0D0; display: inline-block;"></div> 
                                <i class="fas fa-info-circle" style="color: blue;"></i> 
                                <p><strong>Bilgilendirme</strong></p>
                            </div>
                            <div class="col-6 mb-3">
                                <div style="width: 40px; height: 40px; background-color: green; display: inline-block;"></div>
                                <i class="fas fa-question-circle" style="color: green;"></i> 
                                <p><strong>Destek</strong></p>
                            </div>
                            <div class="col-6 mb-3">
                                <div style="width: 40px; height: 40px; background-color: orange; display: inline-block;"></div>
                                <i class="fas fa-circle" style="color: orange;"></i> 
                                <p><strong>Acil</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <h1 style="text-align: center;">Tweets</h1>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Tweet Date</th>
                                    <th>Username</th>
                                    <th>Content</th>
                                    <th>Cleaned Content</th>
                                    <th>Addres</th>
                                    <th>Final Label</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data_address %}
                                <tr>
                                    <td>{{ row.tweet_date }}</td>
                                    <td>{{ row.username }}</td>
                                    <td>{{ row.content }}</td>
                                    <td>{{ row.content_no_rare_words }}</td>
                                    <td>{{ row.address }}</td>
                                    <td>{{ row.final_label }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
               
                
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="tweets-tab">
                 <h1 style="text-align: center;">Tweets</h1>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tweet Date</th>
                                <th>Username</th>
                                <th>Content</th>
                                <th>Cleaned Content</th>
                                <th>Final Label</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data_tweets %}
                            <tr>
                                <td>{{ row.tweet_date }}</td>
                                <td>{{ row.username }}</td>
                                <td>{{ row.content }}</td>
                                <td>{{ row.content_no_rare_words }}</td>
                                <td>{{ row.final_label }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
           
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
